.optionsContainer {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    padding: 0 24px 12px;
    max-width: 595px;
    margin: auto;
}

.icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
}