.content {
    background-color: #484848;
    padding: 64px 0;
}

.resume {
    position: relative;
    width: 611px;
    min-height: 842px;
    background: #FFFFFF;
    margin: auto;
    padding: 24px;
}

.resume div, .resume span, .resume ul li, .resume a {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
}

.resume .heading {
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    color: #2E4064;
    margin: 0 0 8px;
}

.resume .subHeading {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
}

.resume .personName {
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: #2E4064;
}

.resume a {
    text-decoration: none;
    cursor: pointer;
}

.body {
    display: flex;
    gap: 32px;
}

.leftContainer {
    flex: 1;
}

.rightContainer {
    width: 152px;
}

.section{
    margin: 24px 0 0;
}

.company {
    margin: 0 0 14px;
}

.company:nth-last-child(1) {
    margin: 0;
}

.companyName {
    margin: 0 0 6px;
}

.location::before {
    content: "|";
    font-size: 8px;
    margin: 0 4px 0;
}

.role {
    padding: 0 0 0 4px
}

.roleInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration {
    font-size: 10px;
    line-height: 12px;
}

.workDone {
    margin: 6px 0 0;
    font-weight: 400;
    padding: 0 0 0 24px;
}
.workDone ul li {
    list-style-type: circle;
}

.collegeInfo {
    display: flex;
    margin: 6px 0 0;
}

.collegeName {
    margin: 0 0 6px;
}

.accomplishments ul li {
    margin: 0 0 0 24px;
    list-style-type: circle;
}

.projectDescription {
    margin: 6px 0 0;
}

.project {
    margin: 0 0 14px;
}
.project:nth-last-child(1) {
    margin: 0;
}

.technicalSkills .subHeading {
    margin: 0 0 6px;
}

.skillCategory {
    margin: 0 0 14px;
}

.skillCategory:nth-last-child(1) {
    margin: 0;
}

.workLinks a {
    display: block;
    margin: 0 0 14px;
}

.workLinks a:nth-last-child(1) {
    margin: 0;
}

.contactItem{
    margin: 0 0 14px;
}
.contactItem:nth-last-child(1) {
    margin: 0;
}
